body {
    min-height: 100vh;
    max-width: 500vw;
}


.text-center {
    text-align: center!important;
    padding: 5px 5px;
}

.button-container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container button{
    width: 80%;
    margin: 0px;
}

@media (min-width: 768px){
    .button-container button{
        width: 47%;
        margin: 5px;
    }
}